.social.media a i {
  font-size: 2em; /* adjust the size as needed */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* height of the footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 3px;
  background-color: #5a189a;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Change this line */
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #5a189a;
  color: white;
}


a {
            text-decoration: none;
            color:antiquewhite;
            }
        
        p {
            color:antiquewhite;
        }
        body {
            padding: 0;
            margin: 0;
            background: linear-gradient(to bottom right, #10002b, #000000);
            background-attachment: fixed;
            background-size: cover;
        }

        .navbar {
            font-family: 'Poppins', sans-serif;
            background-color: #5a189a;
            overflow: hidden;
            }

            .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            }

            .navbar-item {
            flex-basis: 5%;
            text-align: center;
            padding: 10px 0;
            }
            
            .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            }

            form {
            display: flex;
            justify-content: center;
            align-items: center;
            }

            input[type="text"] {
            width: 200px;
            padding: 8px;
            border: none;
            border-radius: 4px;
            }

            button[type="submit"] {
            padding: 8px;
            margin-left: 5px;
            border: none;
            background-color: #ddd;
            border-radius: 4px;
            cursor: pointer;
            }

            button[type="submit"]:hover {
            background-color: #ccc;
            }

            @media only screen and (max-width: 768px) {
            .navbar-item {
                flex-basis: 100%;
            }
        }


#signupwrapper {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-wrap: wrap;
        }

        #left {
            width: 66.67%;
            box-sizing: border-box;
            font-size: 24px;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        #signupwrapper-supertext {
            font-size: 10vw;
            color:antiquewhite;
        }
        #signupwrapper-subtext{
            font-size: 5vw;
            color:antiquewhite;
        }

        #right {
            width: 33.33%;
            padding: 50px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #signupwrapper-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        margin: auto;
        background-color: #fef9f3; 
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        }

        #signupwrapper-form label {
        margin-bottom: 10px;
        }

        #signupwrapper-form input[type="text"],
        #signupwrapper-form input[type="password"] {
        background-color: #8525E6;
        color: #FFFFFF;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        }

        #signupwrapper-form input[type="submit"] {
        background-color: #8525E6;
        color: #FFFFFF;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        }

        @media (max-width: 768px) {
            #left, #right {
            width: 100%;
            font-size: 16px;
            }
            #right {
            order: 1;
            }
        }


.search-bar {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  font-size: 16px;
  flex: 1;
  outline: none;
}

.flat-button {
  background-color: #ebebeb;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 20px 20px 0;
}

.flat-button:hover {
  background-color: #ddd;
}


#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
input[type="hidden"] {
  display: none;
}

#safeymessages{
            font-family: 'Poppins', sans-serif;
       color:#FFFFFF         
        }


#message{
  font-family: 'Poppins', sans-serif;
            color:#FFFFFF
}


result_card{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}